{% set credit = 'Credits'|t %}

<div class="h-broad inline-block relative group">
	<span class="text-opacity-50 text-light-grey text-short font-sans font-medium group-hover:opacity-0 transition-opacity duration-150">{{ credit }}</span>
	<div class="h-full w-full opacity-0 absolute inset-0 text-main flex items-center transition-opacity duration-150 group-hover:opacity-100">
		{% include "_lib/watermark.twig" %}
	</div>
</div>
