{% set oembed = oembed|default %}
{% set thumbnail = oembed.image|default %}
{% set customThumbnail = customThumbnail.one()|default %}
{% set provider = oembed.providerName|default %}
{% set title = oembed.title|default %}
{% set url = oembed.url|default %}
{% set oembedId = provider == 'YouTube' and url ? url : (oembed.id ?: false) %}
{% set autoLoad = autoLoad|default('none') %}
{% set isAutoplay = isAutoplay|default(true) %}

{% set videoAttr = {
	data: {
		'oembed-provider': provider,
		'oembed-title': title,
		'oembed-id': oembedId,
		'autoplay': isAutoplay ? 1 : false,
		'autoload': autoLoad,
		'rel': 0
	}
} %}

<div class="relative pb-9/16 js-auto-oembed-ctn transition-embed-video bg-main-reverse">
	<div {{ attr(videoAttr) }} class="absolute inset-0 js-auto-oembed-player"></div>
	<div class="js-auto-oembed-play transition-embed-play">
		{% if customThumbnail %}
			{% include "_lib/image" with {image: customThumbnail, fit: 'cover'} only %}
		{% elseif thumbnail %}
			{% include "_lib/image" with {imageSrc: thumbnail, fit: 'cover'} only %}
		{% endif %}
		<div class="flex items-end justify-start absolute inset-0 text-main-reverse z-10">
			<div class="m-broad">
				{% include "_buttons/play" %}
				{% if title %}
					<h3 class="_font-module-title-small color-main-reverse mt-thin">{{title}}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
