{% set modules = modules ?? entry.modules.all()|default %}

<main>

	{# MODULES #}
	{% if modules %}
		{% for module in modules %}
			{% include ["_modules/" ~ module.type|kebab, "_modules/_undefined"] with { module: module } only %}
		{% endfor %}
	{% endif %}

</main>
