{% import "_utils/module" as utils %}

{% set moduleName = moduleName ?? module.type|default|kebab %}
{% set title = title ?? module.displayTitle|default %}
{% set text = text ?? module.text|default %}
{% set align = align|default('center') %}
{% set display = display ?? true %}

{% set attr = {
	class: [
		utils.interval(interval ?? null),
		utils.security(security ?? null),
		'w-full first:mt-0',
		extClass|default
	],
	data: {
		module: moduleName,
	}
}|merge(extAttr ?? {}) %}

{% set attrCtn = {
	class: [
		utils.width(width ?? null),
		align == 'center' ? 'mx-auto',
		align == 'right' ? 'ml-auto',
		extCtnClass|default
	]
}|merge(extAttr ?? {}) %}

{% if display %}
<section {{ attr(attr) }}>
	<div {{ attr(attrCtn) }}>
		{% block header %}{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}{% endblock %}
	</div>
</section>
{% endif %}
